<body>
    <!-- ******HEADER****** -->
    <header class="header">
        <div class="container">
            <img class="profile-image img-responsive pull-left" src="<%= asset_path('profile.jpg') %>" alt="Jacky Lee" />
            <div class="profile-content pull-left">
                <h1 class="name">Jacky Lee</h1>
                <h2 class="desc">Full-Stack Web Developer</h2>
                <ul class="social list-inline">
                    <li><a href="http://hk.linkedin.com/in/jackywhlee" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/jackywhlee" target="_blank"><i class="fa fa-github"></i></a></li>
                    <li><a href="https://twitter.com/jackywhlee" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/pewpew87" target="_blank"><i class="fa fa-facebook"></i></a></li>
                </ul>
            </div><!--//profile-->
            <a class="btn btn-cta-primary pull-right" href="mailto:jackywhlee@gmail.com"><i class="fa fa-envelope"></i> Contact Me</a>
        </div><!--//container-->
    </header><!--//header-->


    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading">About Me</h2>
                        <div class="content">
                            <p>Write a brief intro about yourself. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.</p>

        <p>It's a good idea to include your personal interests and hobbies as well. Commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->

               <section class="latest section">
                    <div class="section-inner">
                        <h2 class="heading">Latest Projects</h2>
                        <div class="content">

                            <div class="item featured text-center">
                                <h3 class="title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-products-velocity/" target="_blank">KickStarter - Velocity</a></h3>
                                <p class="summary">A responsive Bootstrap template designed for digital products</p>
                                <div class="featured-image">
                                    <a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-products-velocity/" target="_blank">
                                    <img class="img-responsive project-image" src="assets/images/projects/project-featured.png" alt="project name" />
                                    </a>
                                    <div class="ribbon">
                                        <div class="text">New</div>
                                        </div>
                                    </div>

                                <div class="desc text-left">
                                    <p>You can promote your main project here. Suspendisse in tellus dolor. Vivamus a tortor eu turpis pharetra consequat quis non metus. Aliquam aliquam, orci eu suscipit pellentesque, mauris dui tincidunt enim, eget iaculis ante dolor non turpis.</p>
                                    <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. At vero eos et accusamus et iusto odio dignissimos ducimus.</p>
                                </div><!--//desc-->
                                <a class="btn btn-cta-secondary" href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-products-velocity/" target="_blank"><i class="fa fa-thumbs-o-up"></i> Back my project</a>
                            </div><!--//item-->
                            <hr class="divider" />
                            <div class="item row">
                                <a class="col-md-4 col-sm-4 col-xs-12" href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/" target="_blank">
                                <img class="img-responsive project-image" src="assets/images/projects/project-5.png" alt="project name" />
                                </a>
                                <div class="desc col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/" target="_blank">Atom - Designed for Mobile Apps</a></h3>
                                    <p>You can put one of your secondary projects here. Suspendisse in tellus dolor. Vivamus a tortor eu turpis pharetra consequat quis non metus. Aliquam aliquam, orci eu suscipit pellentesque, mauris dui tincidunt enim, eget iaculis ante dolor non turpis.</p>
                                    <p><a class="more-link" href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/" target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>
                                </div><!--//desc-->
                            </div><!--//item-->

                            <div class="item row">
                                <a class="col-md-4 col-sm-4 col-xs-12" href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-web-development-agencies-devstudio/" target="_blank">
                                <img class="img-responsive project-image" src="assets/images/projects/project-4.png" alt="project name" />
                                </a>
                                <div class="desc col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-web-development-agencies-devstudio/" target="_blank">DevStudio - Designed for Web Development Agencies</a></h3>
                                    <p>You can put one of your secondary projects here. Suspendisse in tellus dolor. Vivamus a tortor eu turpis pharetra consequat quis non metus. Aliquam aliquam, orci eu suscipit pellentesque, mauris dui tincidunt enim, eget iaculis ante dolor non turpis.</p>
                                    <p><a class="more-link" href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-web-development-agencies-devstudio/" target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>
                                </div><!--//desc-->
                            </div><!--//item-->

                            <div class="item row">
                                <a class="col-md-4 col-sm-4 col-xs-12" href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-startups-tempo/" target="_blank">
                                <img class="img-responsive project-image" src="assets/images/projects/project-1.png" alt="project name" />
                                </a>
                                <div class="desc col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-startups-tempo/" target="_blank">Tempo - Designed for Startups</a></h3>
                                    <p>You can put one of your secondary projects here. Suspendisse in tellus dolor. Vivamus a tortor eu turpis pharetra consequat quis non metus. Aliquam aliquam, orci eu suscipit pellentesque, mauris dui tincidunt enim, eget iaculis ante dolor non turpis.</p>
                                    <p><a class="more-link" href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-startups-tempo/" target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>
                                </div><!--//desc-->
                            </div><!--//item-->
                            <div class="item row">
                                <a class="col-md-4 col-sm-4 col-xs-12" href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-mobile-apps-delta/" target="_blank">
                                <img class="img-responsive project-image" src="assets/images/projects/project-2.png" alt="project name" />
                                </a>
                                <div class="desc col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-mobile-apps-delta/" target="_blank">Delta - Designed for Mobile Apps</a></h3>
                                    <p> You can put one of your secondary projects here. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.</p>
                                    <p><a class="more-link" href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-mobile-apps-delta/" target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>
                                </div><!--//desc-->
                            </div><!--//item-->

                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->

            </div><!--//primary-->
            <div class="secondary col-md-4 col-sm-12 col-xs-12">

                <aside class="skills aside section">
                <div class="section-inner">
                  <h2>Skills</h2>
                  <div class="skills-summary">
                    <p>A Full-Stack web developer committed to creating adaptive solutions that are distinctive and engaging by approaching each project with the full scope in mind</p>
                  </div>
                  <div class="skills-tags">
                    <h3>Languages</h3>
                    <div>Full-Stack Web Development</div>
                    <div>Ruby on Rails</div>
                    <div>AngularJS &amp; Javascript &amp; jQuery &amp; Ajax</div>
                    <div>SQL &amp; PostgreSQL &amp; SQLite &amp; MongoDB &amp; Firebase</div>
                    <div>HTML5, CSS3, SCSS &amp; Bootstrap</div>
                    <div>Mobile with Ionic</div>
                    <div>Web Scrapping</div>
                    <div>Gems &amp; Bower</div>
                    <div>XML</div>
                    <div>JSON</div>
                    <div>Regex</div>
                  </div>
                  <div class="skills-tags">
                    <h3>Learning</h3>
                    <div class="learning">Node.js</div>
                    <div class="learning">Angular 2.0</div>
                  </div>
                  <div class="skills-tags">
                    <h3>Extras</h3>
                    <div class="extras">Git</div>
                    <div class="extras">GitHub</div>
                    <div class="extras">Heroku</div>
                    <div class="extras">Waffle.io</div>
                    <div class="extras">Amazon Web Server</div>
                  </div>
                </div>
                </aside>

                <aside class="experiences aside section">
                <div class="section-inner">
                  <h3>Education / Experiences</h3>
                  <div class="experiences-content">
                    <div class="experience">
                      <h5><i class="fa fa-graduation-cap"></i> Web Development Imersive</h5>
                      <h5>General Assembly, Hong Kong <span>(Dec 2014 - Mar 2015)</span></h5>
                    </div>
                    <div class="experience">
                      <h5><i class="fa fa-briefcase"></i> Operations/Tech (Intern)</h5>
                      <h5>Square Mile Advisors, Hong Kong <span>(Sep 2014 - Nov 2014)</span></h5>
                    </div>
                    <div class="experience">
                      <h5><i class="fa fa-briefcase"></i> Business Development</h5>
                      <h5>ZOOQ, Shanghai <span>(Mar 2013 - Aug 2014)</span></h5>
                    </div>
                    <div class="experience">
                      <h5><i class="fa fa-briefcase"></i> Financial Planning Officer</h5>
                      <h5>Manulife International Limited <span>(Sep 2011 - Feb 2013)</span></h5>
                    </div>
                    <div class="experience">
                      <h5><i class="fa fa-graduation-cap"></i> BH Hons Business Finance</h5>
                      <h5>Durham University, United Kingdom <span>(Oct 2008 - Feb 2011)</span></h5>
                    </div>
                  </div>
                </div>
                </aside>

                <aside class="languages aside section">
                  <div class="section-inner">
                  <h2>Languages</h2>
                  <div class="language-content">
                    <ul class="list-unstyled">
                      <li class="language">
                        <span><strong>English: </strong></span>
                        <span>Native Speaker <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
                      </li>
                      <li class="language">
                        <span><strong>Cantonese: </strong></span>
                        <span>Native Speaker <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
                      </li>
                      <li class="language">
                        <span><strong>Mandarin: </strong></span>
                        <span>Socially Proficient <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i></span>
                      </li>
                      <li class="language">
                        <span><strong>Japanese: </strong></span>
                        <span>Socially Competent <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
                      </li>
                    </ul>
                  </div>
                </div>
                </aside>

            </div><!--//secondary-->
        </div><!--//row-->
    </div><!--//masonry-->

    <!-- ******FOOTER****** -->
    <footer class="footer">
        <div class="container text-center">
                <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
        </div><!--//container-->
    </footer><!--//footer-->
</body>
